.map-view {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    height: calc(100vh - 64px); /* Adjust based on navbar height */
  }
  
  #mapCanvas {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    background-color: #e0e0e0;
    border: 1px solid #bdbdbd;
  }
  